/*
  Google Fonts
  -------------
  font-family: 'Lobster', cursive;
  font-family: 'Source Sans Pro', sans-serif;
  font-family: 'Pacifico', cursive;
*/

body {
  font-family: 'Source Sans Pro', sans-serif;
}

a {
  color: black;
  text-decoration: none;
  transition: all 1s;
  -webkit-transition: all 1s;
  -o-transition: all 1s;
  -moz-transition: all 1s;
}

a:hover, a:focus {
  color: #008000;
  transition: all 1s;
  -webkit-transition: all 1s;
  -o-transition: all 1s;
  -moz-transition: all 1s;
}

header {
  color: white;
  position: fixed;
  top: 0px;
  right: 0px;
  width: 100%;
  padding: 32px;
}

header nav {
  position: relative;
  bottom: 25px;
  z-index: 2;
}

header img.waves {
  height: 100px;
  position: absolute;
  width: 103%;
  bottom: 46px;
  z-index: 1;
}

header nav span.logo img {
  position: absolute;
  width: 130px;
  bottom: -46px;
  left: 74px;
}

header nav span.nav-links {
  margin-right: 60px;
}

header nav span.nav-links a {
  margin-left: 15px;
  font-size: 20px;
  float: right;
  font-family: 'Pacifico', cursive;
}

header nav span.nav-links a img {
  width: 160px;
}

/* Reference: https://codepen.io/theDeanH/pen/zBZXLN */
header nav span.nav-links a img:hover, header nav span.logo img:hover {
  -webkit-animation-name: wiggle;
  -ms-animation-name: wiggle;
  -ms-animation-duration: 1000ms;
  -webkit-animation-duration: 1000ms;
  -webkit-animation-iteration-count: 1;
  -ms-animation-iteration-count: 1;
  -webkit-animation-timing-function: ease-in-out;
  -ms-animation-timing-function: ease-in-out;
}

@-webkit-keyframes wiggle {
  0% {-webkit-transform: rotate(10deg);}
  25% {-webkit-transform: rotate(-10deg);}
  50% {-webkit-transform: rotate(20deg);}
  75% {-webkit-transform: rotate(-5deg);}
  100% {-webkit-transform: rotate(0deg);}
}

@-ms-keyframes wiggle {
  0% {-ms-transform: rotate(1deg);}
  25% {-ms-transform: rotate(-1deg);}
  50% {-ms-transform: rotate(1.5deg);}
  75% {-ms-transform: rotate(-5deg);}
  100% {-ms-transform: rotate(0deg);}
}

@keyframes wiggle {
  0% {transform: rotate(10deg);}
  25% {transform: rotate(-10deg);}
  50% {transform: rotate(20deg);}
  75% {transform: rotate(-5deg);}
  100% {transform: rotate(0deg);}
}
/* Referene - End */

main.intro {
  margin-top: 100px;
}

main.intro > h2 {
  font-size: 50px;
  font-family: 'Lobster', cursive;
  margin-bottom: 0px;
  margin-top: 120px;
  text-align: center;
}

main.intro h1 {
  font-size: 115px;
  font-family: 'Lobster', cursive;
  margin-top: 0px;
  margin-bottom: 20px;
  text-align: center;
}

section.salmon-img img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 120px;
  width: 800px;
}

section.gallery {
  margin-top: 90px;
  margin-bottom: 120px;
  margin-left: auto;
  margin-right: auto;
  height: 720px;
  width: 940px;
}

section.gallery > div.image {
  margin: 5px;
  border: 1px solid #ccc;
  float: left;
  width: 180px;
  width: 300px;
  height: 300px;
  box-shadow: 0px 0px 20px rgba(0,0,0,0.10),
     0px 10px 20px rgba(0,0,0,0.05),
     0px 20px 20px rgba(0,0,0,0.05),
     0px 30px 20px rgba(0,0,0,0.05);
}

section.gallery > div.image:hover {
  border: 1px solid #777;
}

section.gallery > div.image img {
  width: 100%;
  height: auto;
}

section.gallery > h2 {
  font-size: 80px;
  font-family: 'Lobster', cursive;
  margin-top: 5px;
  margin-bottom: 15px;
  text-align: center;
}

/* article, article > div, section.contact, section.contact > div {
  outline: 1px solid green;
} */

article {
  width: 100%;
  background-color: #eee;
  box-shadow: 0px 0px 20px rgba(0,0,0,0.10),
     0px 10px 20px rgba(0,0,0,0.05),
     0px 20px 20px rgba(0,0,0,0.05),
     0px 30px 20px rgba(0,0,0,0.05);
}


article > div.info-wrapper {
  width: 860px;
  height: 300px;
  margin: auto;
}

article > div.info-wrapper > section {
  width: 400px;
  height: 300px;
  float: left;
}

article > div.info-wrapper > section > h3 {
  font-size: 80px;
  font-family: 'Lobster', cursive;
  margin-top: 5px;
  margin-bottom: 5px;
  text-align: center;
}

article > div.info-wrapper > section:first-child {
  margin-right: 30px;
}

article > div.info-wrapper > section:nth-child(2) {
  margin-left: 30px;
}

article > div.info-wrapper > section ul {
  padding-left: 136px;
  font-size: 23px;
}

article > div.info-wrapper > section ul > li {
  list-style-type: none;
}

section.contact {
  margin-bottom: 60px;
  margin-top: 40px;
  clear: both;
  height: 200px;
  background-color: #eee;
  box-shadow: 0px 0px 20px rgba(0,0,0,0.10),
     0px 10px 20px rgba(0,0,0,0.05),
     0px 20px 20px rgba(0,0,0,0.05),
     0px 30px 20px rgba(0,0,0,0.05);
}

section.contact > div {
  width: 400px;
  height: 200px;
  margin: auto;
  text-align: center;
  padding-top: 20px;
}

section.contact > div > h4 {
  font-size: 30px;
  font-family: 'Lobster', cursive;
  margin-top: 5px;
  margin-bottom: 5px;
}

section.contact > div ul {
  padding-inline-start: 0px;
}

section.contact > div ul > li {
  list-style-type: none;
  display: inline;
}

section.contact > div ul > li > img {
  width: 45px;
  margin-top: 5px;
  margin-left: 6px;
  margin-right: 6px;
}

section.goodbye {
  margin-bottom: 150px;
  text-align: center;
}

section.goodbye > h5 {
  font-size: 30px;
  font-family: 'Lobster', cursive;
  margin-top: 5px;
  margin-bottom: 5px;
}

/* footer - index.html & sales.html */
footer {
  color: white;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: right;
  padding: 29px;
}

footer img {
  height: 100px;
  position: absolute;
  width: 100%;
  bottom: 0px;
  right: 0px;
  z-index: 1;
}

footer span {
  position: relative;
  top: 20px;
  z-index: 2;
}

footer span.date {
  font-size: 10px;
}

footer span:nth-child(3) {
  font-family: 'Pacifico', cursive;
  margin-right: 75px;
}
