/*
  Google Fonts
  -------------
  font-family: 'Lobster', cursive;
  font-family: 'Source Sans Pro', sans-serif;
  font-family: 'Pacifico', cursive;
*/

body {
  font-family: 'Source Sans Pro', sans-serif;
}

a {
  color: black;
  text-decoration: none;
  transition: all 1s;
  -webkit-transition: all 1s;
  -o-transition: all 1s;
  -moz-transition: all 1s;
}

a:hover, a:focus {
  color: #008000;
  transition: all 1s;
  -webkit-transition: all 1s;
  -o-transition: all 1s;
  -moz-transition: all 1s;
}

header {
  color: white;
  position: fixed;
  top: 0px;
  right: 0px;
  width: 100%;
  padding: 32px;
}

header nav {
  position: relative;
  bottom: 25px;
  z-index: 2;
}

header img.waves {
  height: 100px;
  position: absolute;
  width: 103%;
  bottom: 46px;
  z-index: 1;
}

header nav span.logo img {
  position: absolute;
  width: 130px;
  bottom: -46px;
  left: 74px;
}

header nav span.nav-links {
  margin-right: 60px;
}

header nav span.nav-links a {
  margin-left: 15px;
  font-size: 20px;
  float: right;
  font-family: 'Pacifico', cursive;
}

header nav span.nav-links a img {
  width: 160px;
}

/* Reference: https://codepen.io/theDeanH/pen/zBZXLN */
header nav span.nav-links a img:hover, header nav span.logo img:hover {
  -webkit-animation-name: wiggle;
  -ms-animation-name: wiggle;
  -ms-animation-duration: 1000ms;
  -webkit-animation-duration: 1000ms;
  -webkit-animation-iteration-count: 1;
  -ms-animation-iteration-count: 1;
  -webkit-animation-timing-function: ease-in-out;
  -ms-animation-timing-function: ease-in-out;
}

@-webkit-keyframes wiggle {
  0% {-webkit-transform: rotate(10deg);}
  25% {-webkit-transform: rotate(-10deg);}
  50% {-webkit-transform: rotate(20deg);}
  75% {-webkit-transform: rotate(-5deg);}
  100% {-webkit-transform: rotate(0deg);}
}

@-ms-keyframes wiggle {
  0% {-ms-transform: rotate(1deg);}
  25% {-ms-transform: rotate(-1deg);}
  50% {-ms-transform: rotate(1.5deg);}
  75% {-ms-transform: rotate(-5deg);}
  100% {-ms-transform: rotate(0deg);}
}

@keyframes wiggle {
  0% {transform: rotate(10deg);}
  25% {transform: rotate(-10deg);}
  50% {transform: rotate(20deg);}
  75% {transform: rotate(-5deg);}
  100% {transform: rotate(0deg);}
}
/* Referene - End */

main.sales {
  margin-top: 100px;
  text-align: center;
}

main.sales h1 {
  font-size: 100px;
  font-family: 'Lobster', cursive;
  margin-top: 0px;
  margin-bottom: 20px;
}

section #store {
  margin: 0 auto;
  width: 75%;
  text-align: center;
}

section.store-container {
  margin-bottom: 40px;
}

div.add-store {
  text-align: center;
}

div.add-store p span a {
  font-family: 'Pacifico', cursive;
  color: #008000;
}

.toggle-form {
  display: none;
}

#locations-table {
  margin: 0 auto;
  width: 75%;
  margin-bottom: 200px;
}

fieldset {
  margin: 0 auto;
  display: inline-flex;
  padding: 20px;
  border: 2px solid #008000;
  box-shadow: 0px 0px 20px rgba(0,0,0,0.10),
     0px 10px 20px rgba(0,0,0,0.05),
     0px 20px 20px rgba(0,0,0,0.05),
     0px 30px 20px rgba(0,0,0,0.05);
}

fieldset label {
  text-align: left;
}

fieldset input {
  margin-bottom: 10px;
  width: 100%;
}

button {
  background-color: #008000;
  color: white;
}

table {
  border-collapse: collapse;
  border-bottom: 2px solid #008000;
  box-shadow: 0px 0px 20px rgba(0,0,0,0.10),
     0px 10px 20px rgba(0,0,0,0.05),
     0px 20px 20px rgba(0,0,0,0.05),
     0px 30px 20px rgba(0,0,0,0.05);
}

td {
  border: 1px solid #999;
  padding: 0.5rem;
  text-align: left;
}

td, th {
  border: 1px solid #ddd;
  padding: 8px;
}

th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #008000;
  color: white;
}

tr:nth-child(even) { 
  background-color: #f2f2f2;
}

tr:hover { 
  background-color: #ddd;
  transition: all 0.6s;
  -webkit-transition: all 0.6s;
  -o-transition: all 0.6s;
  -moz-transition: all 0.6s;
}

footer {
  color: white;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: right;
  padding: 29px;
}

footer img {
  height: 100px;
  position: absolute;
  width: 100%;
  bottom: 0px;
  right: 0px;
  z-index: 1;
}

footer span {
  position: relative;
  top: 20px;
  z-index: 2;
}

footer span.date {
  font-size: 10px;
}

footer span:nth-child(3) {
  font-family: 'Pacifico', cursive;
  margin-right: 75px;
}
